#app{
    height: 100%;
}
.ant-btn {
    margin: 0 5px;
    padding: 4px 40px;
}
.ant-table {
    .ant-btn {
        padding: 4px 15px;
    }
}
.ant-btn-success {
    background-color: #20C770 !important;
    color: #fff !important;
    position: relative;
    border: 0;
    &:active,&:hover{
        background-color: #20C770 !important;
        color: #fff !important;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .1);
        }
    }
}
.ant-btn-info {
    background-color: #909399 !important;
    color: #fff !important;
    position: relative;
    border: 0;
    &:active,&:hover{
        background-color: #909399 !important;
        color: #fff !important;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .1);
        }
    }
}
.ant-btn-warning {
    background-color: #E6A23C !important;
    color: #fff !important;
    position: relative;
    border: 0;
    &:active,&:hover{
        background-color: #E6A23C !important;
        color: #fff !important;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .1);
        }
    }
}

$header-height: 64px;
.ant-layout-box {
	height: 100%;
	background-color: #f0f2f5;
	.ant-layout-aside {
		height: 100%;
		overflow-y: hidden;
		.logo {
			height: 32px;
			line-height: 32px;
			color: #fff;
			font-size: 20px;
			margin: 16px;
			text-align: center;
			overflow: hidden;
		}
		.ant-menu-inline-collapsed {
			.ant-menu-title-content {
				overflow: hidden;
				width: 20px;
				display: block;
			}
		}
		.menu-icon {
			padding-left: 24px;
		}
		.menu-icon-home {
			background: url('@/assets/icon/icon-home.png') no-repeat left center;
			background-size: 18px auto;
		}
		.menu-icon-structure {
			background: url('@/assets/icon/icon-jg.png') no-repeat left center;
			background-size: 16px auto;
		}
		.menu-icon-personnel {
			background: url('@/assets/icon/icon-personnel.png') no-repeat left
				center;
			background-size: 22px auto;
			background-position-x: -4px;
		}
		.menu-icon-customer {
			background: url('@/assets/icon/icon-customer.png') no-repeat left
				center;
			background-size: 18px auto;
			background-position-x: -3px;
		}
		.menu-icon-ticket {
			background: url('@/assets/icon/icon-ticket-station.png') no-repeat
				left center;
			background-size: 18px auto;
			background-position-x: -2px;
		}
		.menu-icon-stats {
			background: url('@/assets/icon/icon-stats.png') no-repeat left
				center;
			background-size: 20px auto;
			background-position-x: -2px;
		}
	}
	.ant-layout-right {
		height: 100%;
		overflow-y: hidden;
		position: relative;
		padding-top: $header-height;
		&-header {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1000;
			width: 100%;
			background-color: #fff;
			padding: 0;
			box-shadow: 0 1px 3px #eee;
			&-trigger {
				position: absolute;
				left: 0;
				top: 0;
				width: $header-height;
				height: $header-height;
				.trigger {
					font-size: 18px;
					line-height: $header-height;
					padding: 0 24px;
					cursor: pointer;
					transition: color 0.3s;
				}
				.trigger:hover {
					color: #1890ff;
				}
			}
			&-breadcrumb {
				padding-left: $header-height;
				height: $header-height;
				line-height: $header-height;
			}
			&-dropdown {
				position: absolute;
				right: 0px;
				top: 0px;
				height: 100%;
				padding-right: 25px;
			}
		}
		.ant-layout-content {
			padding: 24px 16px;
			min-height: 100%;
			overflow-y: auto;
		}
	}
}
.ant-dropdown-menu-item-active {
	background-color: #1890ff !important;
	color: #fff;
}